@import 'nib'

.activities
  clear: both

  .activity
    margin: 10px 0
    display: flex

    .member
      width: 24px
      height: @width

    .activity-desc
      flex: 1
      align-self: center
      margin: 0
      color: #888
      margin-left: 3px

      .activity-comment
        display: block
        border-radius: 3px
        background: white
        text-decoration: none
        padding: 5px 0
        color: #333
        p
          margin-bottom: 0

      .activity-meta
        font-size: 0.8em
        color: darken(white, 40%)
