@import 'nib'

.card-btn
  background-image: none !important
  background-color: #5D8376 !important
  padding: 6px 18px
  height: auto
  font-size: 13px
  font-weight: 400
  box-shadow: none !important
  letter-spacing: 1px

.card-details
  padding: 0 20px
  height: 100%
  flex-shrink: 0
  flex-basis: 600px
  will-change: flex-basis
  overflow: hidden
  background: #ffffff
  border-radius: bottom 3px
  z-index: 20 !important
  animation: flexGrowIn 0.1s
  box-shadow: 0 0 7px 0 darken(white, 30%)
  transition: flex-basis 0.1s

  .add-controls
    .card-btn
      margin-top: 5px

  .card-details-canvas
    width: 600px
    h2
      font-size:16px
      margin-bottom:20px
    .js-open-inlined-form
      font-size:14px
      vertical-align:middle
      i
        color: #848484
      &:hover
        color: #333

  .card-details-header
    padding 15px 0
    border-bottom: 1px solid darken(white, 14%)

    .close-card-details,
    .card-details-menu
      float: right

    .close-card-details
      font-size: 24px
      padding: 5px
      margin-right: -8px
      line-height: 0
      margin-top: 3px

    .card-details-menu
      font-size: 17px
      padding: 10px
      line-height: 0

    .card-details-watch
      font-size: 17px
      padding-left: 7px
      color: #a6a6a6

    .card-details-title
      font-size: 1.33em
      margin: 0
      padding: 0


    form.inlined-form
      margin-top: 5px
      margin-bottom: 10px

    .card-details-list
      font-size: 0.85em
      margin-bottom: 3px

      a.card-details-list-title
        font-weight: bold

        &.is-editable
          display: inline-block
          background: darken(white, 10%)
          border-radius: 3px
          padding: 0px 5px

  .card-description textarea
    min-height: 100px
    &:focus
      border: 1px solid #333

  .card-details-items
    display: flex
    margin: 15px 0

    .card-details-item
      &.card-details-item-labels,
      &.card-details-item-members
        width: 50%
        flex-shrink: 1

  .card-details-item-title
    font-size: 14px
    color: #333
    margin-right: 10px
    &.inline
      display: inline-block

  .card-label
    padding-top: 5px
    padding-bottom: 5px
    font-weight: 400;
    opacity: 0.2
    &.active
      border: 1px solid #333
      opacity: 1

  .activities
    padding-top: 10px
    textarea
      min-height: 45px !important;
      height: auto !important;
      padding-bottom: 0 !important;


input[type="text"].attachment-add-link-input
  float: left
  margin: 0 0 8px
  width: 80%

input[type="submit"].attachment-add-link-submit
  float: left
  margin: 0 0 8px 4px
  padding: 6px 12px
  width: 18%

@media screen and (max-width: 800px)
  .card-details
    width: calc(100% - 40px)
    padding: 0px 20px 0px 20px
    margin: 0px
    transition: none

    .card-details-canvas
      width: 100%

    .card-details-header
      .close-card-details
        margin-right: 0px

      .card-details-menu
        margin-right: 10px
